.rightContent{
	flex-grow: 1;
    padding:0;
}
.contentWrap{
    padding: 30px;
}
.title{
  color: #211e50;
  font-size: 1.9em;
}
.mainMenu{
  margin:0 10px  !important;
      .anchor {
        justify-content: space-between;
        border-radius: 5px;
        margin: 6px 0;
         a{
          color: #4d6575  !important;
          display: flex;
          font-size: 14px;
          align-items: center;
          font-weight: 500;
        }    
      .icon{
        min-width: 40px !important;
        svg{
          color:#b2c2cd;
          width: 1.5em;
          height: 1.5em;
        }
      }
      
      &:hover{
        box-shadow: 0 0px 0px 1px #eaecf9;
        a{
          color:#526cb4  !important;
        }
        .icon svg{
           color:#526cb4;
        }
      }
    }
}
.bottomMenu{
  position: absolute !important;
  background: #fafafb;
    bottom: 0;
    width: 100%;
    text-align: center;

    .anchor {
     justify-content: center;

     a{
       display: flex;
       align-items: center;
      //  width: 35px;
       height:35px;
       margin: 0 10px;
       justify-content: center;
     }
     
     .icon{
      justify-content: center;
     }
    }
}