

//FONT-SIZE
$fsize9:9px;

$fsize12:12px;
$fsize14:14px;
$fsize16:16px;
$fsize18:18px;
$fsize20:20px;
$fsize22:22px;
$fsize26:26px;
$fsize30:30px;
$fsize40:40px  !important;
$fsize50:50px;

//SPACE
$mtop0:0em !important;
$mtop10:10px !important;

$mtop15:15px !important;
$mtop20:20px !important;
$mtop30:30px !important;
$mtop40:40px !important;
$mtop50:50px !important;
$mtop60:60px;
$mtop80:80px;
$mtop100:100px;
$pad0:0em !important;;
$pleft0:0em;
$pright0:0em;
$pad-big:7em 0;


//COLOR
$black:#333333 !important;
$white:#ffffff !important; 
$grey:#999999 !important;
$lgrey:#cccccc !important;
$gold:#c7a056 !important;
$orange:#c7a056 !important;

//POSITION
$p-rel:relative;
$p-abs:absolute;
$t-upper:uppercase;

.p-rel{position: $p-rel; z-index:9;}
.p-abs{position: absolute;}
section.ptop0{padding-top:$pad0}
.pright0{padding-right:$pad0}
.pl100{padding-left: 15vh !important;}

.mbtm0{margin-bottom:$mtop0;}

.pad0{padding:0 !important;}
.m0{margin:0 !important;}
.mbtm0{margin-bottom:0 !important;}
.mauto{margin:0 auto !important;}
.mlauto{margin-left:auto;}
.mrauto{margin-right:auto;}

.fsize12{
    font-size: $fsize12;
}
.fsize18{
    font-size: $fsize18;
}

.fsize30{
    font-size: $fsize30;
    line-height: 30px;
}
.fsize40{
    font-size: $fsize40;
    line-height: 40px !important;
}
.space10{
    margin-top: 10px !important;
}
.mtop0{
    margin-top: 0 !important;
}
.space15{
    margin-top: 15px !important;
}
.space20{
    margin-top: $mtop20;
}
.space30{
    margin-top: $mtop30;
}
.space40{
    margin-top: $mtop40;
}
.space50{
    margin-top: $mtop50;
}
.space80{
    margin-top: $mtop80;
}
.space100{
    margin-top: $mtop100;
}

.dBlock{
    display: block;
}
.pad{
    padding: 100px 0;
}
.pleft{
    padding-left: 150px;
}
.bg_white{
    background:$white; 
}
.bg-trans{
    background: transparent !important;
}
@mixin br_btm{
   border-bottom:1px solid #f2f2f2; 
}
.br_bottom{
   @include br_btm; 
}
.no_psudo:after{
    content: none !important;
}
.no-scroll{overflow-y: hidden;}


$w100:100% !important;
$h100:100% !important;


%text_upper,.t-upper{
    text-transform:$t-upper
}
.text_upper{
    @extend %text_upper;
}
.t_white{
    color:$white;
}
.t_black{
   color:$black; 
}
.t-gold{
    color: $gold;
}

.t_brown{
  color:#4e3625 !important;
}

.bg_red{
  background:#ee3226 !important;
}
.bg_lgrey{
    background:#f0f0f0 !important;
}
.bg-dgrey{
    background: #eee;
}
.w100{
    width: $w100;
}
.h100{
    height: $h100;
}
.h100h{
   height: 100vh; 
}
.w100h{
    width: 100vw
}
.h50{
    height: 90vh;
}
.grey{
    color: $grey;
}
.lgrey{
    color: $lgrey;
}
.fsize14{
    font-size:$fsize14;
}
%trans{
     transition: all .3s linear;
     -ms-transition: all .3s linear;
}
.trans{
    @extend %trans
}
%sm-btn{
    height: 30px;
    width: 50px;
    text-align: center;
    padding: 2px !important;
}
%link{
    position: relative;  
}
@mixin outline_btn{
    font-size: 14px;
    border-radius: 40px;
    padding: 10px 20px;
    font-weight: 600;
    color: #000 !important;
    margin: 0 10px;
    position: relative;
    display:inline-block;
    align-items: center;
    font-family: 'TrajanPro-Bold';
    justify-content: center;
    text-align: center;
    border:none !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
//    font-family: $helvetica_bold;   
    
    &:hover{
      color:$white;
      @extend %trans;
    }
    
    &.bg-gold{
        background: $gold;
        
         &:after{
             background: #000;
        }
    }
 
    &:after{
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius:1px;
        width: 108%;
        height: 108%;
        transition: transform .3s cubic-bezier(.4,0,0,1);
        transform: translate3d(-50%,-50%,0) scale(0);
    }

    &:hover{
        &:after{
            transform: translate3d(-50%,-50%,0) scale(1);
            transition: transform .45s cubic-bezier(.6,.01,0,1.38);
        }
    }
    
    span{
        z-index: 9;
        position: relative;
    }
    &.big{
        width: 125px;
        height: 125px;
    }
    &.rect-btn{
        width: auto !important;
        height: auto !important;
        min-width: auto !important;
        border-radius: 10px;
        padding: 12px 30px;
        margin-left: 20px;
        
        &:after{
            content:"";
            border-radius: 10px;
        }
    }
}

.h100{
    height:100%
}
.show_mb{
    display: none !important;;
}
.push-back{
    z-index: 9999;
}


.d-inline{
    display: inline-block;
}


//COMMON
.list-unstyled {
  margin: $mtop0;
  padding: $pad0;
}
.hide,.show-small{
  display: none;
}
.block{
  display: block;
}
.tit{
     font-size: 48px;
    line-height: 54px;
}
.outline_btn{
  @include outline_btn;
}
.block-btn{
    @include outline_btn;  
}




.grey-bg{
    background-color: #f0f1f6;
    border: solid 2px #f0f1f6;
    color: #333333;
}
.blue-bg{
    background-color: #191944;
    border: solid 2px #191944;
    color: #fff;
}
.outline{
    color: #8c8ca2;
    border: solid 2px #191944;
}


.nice-dates-popover {
    max-width: 270px !important;
    padding-bottom: 8px !important;
}
.nice-dates-grid{
    margin-top: 5px;
    min-height: 228px;
    .nice-dates-day{
        height:38px !important;  
        font-size: 12px;
        &:before {
                background-color: #2563eb;
        }
    }
    .nice-dates-day.-outside {
        color: #afafaf !important; 
    }
}
.nice-dates-week-header_day{
    font-size: 12px !important;
}

.nice-dates-navigation{
    padding: 8px;
}
.nice-dates-day_month{
    opacity: 0;
}
.hover-row tbody tr:hover{
    background: #f6f6f6;
}
.custom-tooltip{
    padding: 2px 10px !important;
    font-size: 13px;
    border-radius: 5px !important;
}
.hover-pointer {
    cursor: pointer;
}