@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'HelveticaNeueLTStd-Bold';
    src: url('../public/fonts/HelveticaNeueLTStd-Bd.otf');
  }
  @font-face {
    font-family: 'helvetica_neuemedium_extended';
    src: url('../public/fonts/helvetica-neue-medium-webfont.woff2') format('woff2'),
         url('../public/fonts/helvetica-neue-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
  @font-face {
    font-family: 'HelveticaNeueLTStd-Regular';
    src: url('../public/fonts/HelveticaNeueLTStd-Roman.otf');
  }
  
  @font-face {
    font-family: 'HelveticaNeueLTStd-Lite-italic';
    src: url('../public/fonts/HelveticaNeueLTStd-LtIt.otf');
  }
  @font-face {
    font-family: 'HelveticaNeueLTStd-Lt';
    src: url('../public/fonts/HelveticaNeueLTStd-Lt.otf');
  }
  .helvtica-md{
      font-family: 'domaine-sans-text-test-regular';
  }
  