
@import 'font';
@import 'default';

body, html {
  color: #666;
  font-size: 14px;
  padding: 0;
  margin:0;   
  font-family: 'Inter', sans-serif !important;
// font-family: 'helvetica_neuemedium_extended' !important;
  font-weight:400;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.MuiFormLabel-root{
    font-family: 'Inter', sans-serif !important;
}
* {
  box-sizing: border-box;
  scrollbar-color:  #a0a0a5 #f5f5f5;
  scrollbar-width: thin !important;
}
.dark-scroll{
    scrollbar-color:  #111827 #1F2937 !important;
}
::-webkit-scrollbar {
    background-color:#f5f5f5;
    width:6px;
  }
 ::-webkit-scrollbar-track {
     background-color:#f5f5f5;
    }

    ::-webkit-scrollbar-button {display:none}

    ::-webkit-scrollbar-thumb:hover {
        background-color:#a0a0a5;
        border:1px solid #f4f4f4
    }

    ::-webkit-scrollbar-thumb {
        background-color:#babac0;
        border-radius:16px;
    }
.hidden-scroll{
    &::-webkit-scrollbar {
       background-color:transparent !important;
       width:10px;
     }
    &::-webkit-scrollbar-track {
        background-color:transparent !important;
       }
   
       &::-webkit-scrollbar-button {display:none}
   
       &::-webkit-scrollbar-thumb:hover {
           background-color:transparent !important;
           border:1px solid transparent !important;
       }
   
       &::-webkit-scrollbar-thumb {
           background-color:transparent !important;
           border-radius:16px;
       }
   }

//INPUT/TEXTAREA/ANCHOR
a:focus,a:active,button:focus,button:active,input:focus,input:active,select:focus,textarea:focus {
  outline:none !important;
  text-decoration: none;
  box-shadow: none !important;
}
a{ 
  color:#8c8ca2;
  
  @extend %trans;
  &:hover{
    text-decoration: none !important;
  } 
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}
hr{
    border: 0.5px solid rgba(0,0,0,.1);
    margin-top: 1rem;
}
.pd-0{
    padding: 0px !important;
}

.tab-btn span{
    background-color: white !important;
    z-index: -1;
    border-bottom: 2px solid #3a3afb;
}
button.tab-btn {
    color : #000 !important;
}
.main-wrap-tab-pan {
    margin-top: 10px;
    padding: 10px;
}
.main-box-tab .MuiTabs-indicator{
    display: none;
}
//FONT-SIZE
$fsize9:9px;

$fsize12:12px;
$fsize14:14px;
$fsize16:16px;
$fsize18:18px;
$fsize20:20px;
$fsize22:22px;
$fsize26:26px;
$fsize30:30px;
$fsize40:40px  !important;
$fsize50:50px;

//SPACE
$mtop0:0em !important;
$mtop10:10px !important;

$mtop15:15px !important;
$mtop20:20px !important;
$mtop30:30px !important;
$mtop40:40px !important;
$mtop50:50px !important;
$mtop60:60px;
$mtop80:80px;
$mtop100:100px;
$pad0:0em !important;;
$pleft0:0em;
$pright0:0em;
$pad-big:7em 0;


//COLOR
$black:#333333 !important;
$white:#ffffff !important; 
$grey:#999999 !important;
$lgrey:#cccccc !important;
$gold:#c7a056 !important;
$orange:#c7a056 !important;

//POSITION
$p-rel:relative;
$p-abs:absolute;
$t-upper:uppercase;


canvas{
    margin-top: -3rem;
}
.top-expenses canvas{
    margin-top: -1rem !important;
}
.txt-bold {
    font-family: "HelveticaNeueLTStd-Bold";
}

.p-rel{position: $p-rel; z-index:9;}
.p-abs{position: absolute;}
section.ptop0{padding-top:$pad0}
.pright0{padding-right:$pad0}
.pl100{padding-left: 15vh !important;}

.mbtm0{margin-bottom:$mtop0;}

.pad0{padding:0 !important;}
.m0{margin:0 !important;}
.mbtm0{margin-bottom:0 !important;}
.mauto{margin:0 auto !important;}
.mlauto{margin-left:auto;}
.mrauto{margin-right:auto;}

.fsize12{
    font-size: $fsize12;
}
.fsize18{
    font-size: $fsize18;
}

.fsize30{
    font-size: $fsize30;
    line-height: 30px;
}
.fsize40{
    font-size: $fsize40;
    line-height: 40px !important;
}
.space10{
    margin-top: 10px !important;
}
.mtop0{
    margin-top: 0 !important;
}
.space15{
    margin-top: 15px !important;
}
.space20{
    margin-top: $mtop20;
}
.space30{
    margin-top: $mtop30;
}
.space40{
    margin-top: $mtop40;
}
.space50{
    margin-top: $mtop50;
}
.space80{
    margin-top: $mtop80;
}
.space100{
    margin-top: $mtop100;
}
.text-center{
    text-align: center;
}
.dBlock{
    display: block;
}
.dFlex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.pad{
    padding: 100px 0;
}
.pad-30{
    padding: 30px 0;
}
.pleft{
    padding-left: 150px;
}
.bg_white{
    background:$white; 
}
.bg-trans{
    background: transparent !important;
}
@mixin br_btm{
   border-bottom:1px solid #f2f2f2; 
}
.br_bottom{
   @include br_btm; 
}
.no_psudo:after{
    content: none !important;
}
.no-scroll{overflow-y: hidden;}


$w100:100% !important;
$h100:100% !important;


%text_upper,.t-upper{
    text-transform:$t-upper
}
.text_upper{
    @extend %text_upper;
}
.t_white{
    color:$white;
}
.t_black{
   color:$black; 
}
.t-gold{
    color: $gold;
}

.t_brown{
  color:#4e3625 !important;
}

.bg_red{
  background:#ee3226 !important;
}
.bg_lgrey{
    background:#f0f0f0 !important;
}
.bg-dgrey{
    background: #eee;
}
.w100{
    width: $w100;
}
.h100{
    height: $h100;
}
.h100h{
   height: 100vh; 
}
.w100h{
    width: 100vw
}
.h50{
    height: 90vh;
}
.grey{
    color: $grey;
}
.lgrey{
    color: $lgrey;
}
.fsize14{
    font-size:$fsize14;
}
.m-btm0{
    margin-bottom: 0 !important;
}
.m-btm10{
    margin-bottom: 10px !important;
}
.m-right10 {
    margin-right: 10px !important;
}
%trans{
     transition: all .3s linear;
     -ms-transition: all .3s linear;
}
.trans{
    @extend %trans
}
%sm-btn{
    height: 30px;
    width: 50px;
    text-align: center;
    padding: 2px !important;
}
%link{
    position: relative;  
}
@mixin outline_btn{
    font-size: 14px;
    border-radius: 40px;
    padding: 10px 20px;
    font-weight: 600;
    color: #000 !important;
    margin: 0 10px;
    position: relative;
    display:inline-block;
    align-items: center;
    font-family: 'TrajanPro-Bold';
    justify-content: center;
    text-align: center;
    border:none !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    overflow: hidden;
//    font-family: $helvetica_bold;   
    
    &:hover{
      color:$white;
      @extend %trans;
    }
    
    &.bg-gold{
        background: $gold;
        
         &:after{
             background: #000;
        }
    }
 
    &:after{
        content:"";
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius:1px;
        width: 108%;
        height: 108%;
        transition: transform .3s cubic-bezier(.4,0,0,1);
        transform: translate3d(-50%,-50%,0) scale(0);
    }

    &:hover{
        &:after{
            transform: translate3d(-50%,-50%,0) scale(1);
            transition: transform .45s cubic-bezier(.6,.01,0,1.38);
        }
    }
    
    span{
        z-index: 9;
        position: relative;
    }
    &.big{
        width: 125px;
        height: 125px;
    }
    &.rect-btn{
        width: auto !important;
        height: auto !important;
        min-width: auto !important;
        border-radius: 10px;
        padding: 12px 30px;
        margin-left: 20px;
        
        &:after{
            content:"";
            border-radius: 10px;
        }
    }
}

.h100{
    height:100%
}
.show_mb{
    display: none !important;;
}
.push-back{
    z-index: 9999;
}


.d-inline{
    display: inline-block;
}


//COMMON
.list-unstyled {
  margin: $mtop0;
  padding: $pad0;
}
.hide,.show-small{
  display: none;
}
.block{
  display: block;
}
.tit{
     font-size: 48px;
    line-height: 54px;
}
.outline_btn{
  @include outline_btn;
}
.block-btn{
    @include outline_btn;  
}


.grey-bg{
    background-color: #f0f1f6;
    border: solid 2px #f0f1f6;
    color: #333333;
}
.blue-bg{
    background-color: #191944;
    border: solid 2px #191944;
    color: #fff;
    @extend %trans;

    &:hover{
        @extend %trans;
        opacity: 0.95;
        box-shadow: 0 6px 10px -2px #33333387;
    }
}
.outline{
    background: transparent;
    color: #8c8ca2;
    border: solid 2px #191944;

    &:hover{
        background-color: #191944;
        border: solid 2px #191944;
        color: #fff;
    }
}
ul,ol{
//   margin: $mtop0;
  padding: $pad0;
  list-style-type: none;
}

.w50{
    width: 50%;
}
.w100{
    width: 100%;
}
.MuiTabs-indicator{
    background-color: #4d4dff !important;
    border-radius: 30px;
    height: 47px !important;
}
.Mui-selected{
    color: #fff !important;
    z-index: 9;
}
.p-row{
    margin-bottom: 30px;

    &:last-child{
        margin-bottom: 0 !important;
    }
}
.visible-mb{
	display: none;
}
.coupon-note{
    background: #dcdcdc;
    padding: 10px;
    border-radius: 5px;
    color: #4d4dff;
    font-size: 12px;
    font-family: 'HelveticaNeueLTStd-Regular';
    letter-spacing: 1.1px;
}

.supplier-list{
    height: 430px;
    overflow-y: scroll;
}
 



// FOR MULTI-STEP FORM
.MuiStepConnector-alternativeLabel {
    left: calc(-18% + 20px) !important;

    .MuiStepConnector-line{
       border: none;
       background: url(../public/images/icon/arrow.svg) no-repeat 100% 50%;
        position: relative;
        float: left;
        width: 20%;
        padding: 28px 5px 17px;
    }
}
.MuiBox-root{
    padding: 0 !important;
}
.MuiStep-horizontal{
    .dark{
        display: none;
    } 
}
.MuiStepLabel-iconContainer{
    display: none !important;
}
.MuiStepLabel-active,.MuiStep-completed{
    .light{
        display: none;
    }
    .dark{
        display: block;
    }
    p{
        font-family:"HelveticaNeueLTStd-Medium";
    }
}

.drop-menu{
    a:hover{
        svg{
            color: #fff !important;
        }
    }
}



// FOR SIDEBAR
.sidebar{
    &.slide-out{
        width:4.5rem !important;

        .menu-link{
            // padding-left: .6rem;
            // justify-content:center;

            span{
               opacity: 0;
               visibility: hidden;
               transform: scale(.5,.5);
               transition: all .3s linear;
            }
            svg{
                margin-right:0;
            }
        }
        .bottom-menu{
            .menu-link{
                svg{
                    margin-right:0;
                }
                span{
                    display: none;
                }
            }
        }
        .menu-head{
            opacity: 0;
            visibility: hidden;
            transform: scale(.5,.5);
            transition: all .3s linear;
        }
        .side-icon{
            position: absolute;
           
            padding: 2px !important;
           
        }
        .user-card{
            transform: scale(.5,.5);
               transition: all .3s linear;
               display: none;
        }
        .side-icon{
            right: 19px;

        }
        .custom-tooltip{
            visibility:visible !important;
        }
    }

    &.slide-in{
        .menu-link{
            span{
            transform: scale(1,1);
            transition: all .3s linear;
            }
        }
    }


    .custom-tooltip{
        visibility:hidden !important;
    }
    .side-icon{
        opacity: 0;
        overflow: hidden;

        svg{
           transform: translateX(20px);
           background: #fff; 
        }
    }

    &:hover{
        .side-icon{
         opacity: 1;
        }
        .side-icon{
            svg{
                transform: translateX(0px);  
            }
        }
    }
}

.custom-tooltip{
    padding: 15px !important;
}
.custom-check {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.info-label {
    font-weight: bold;
}

.box-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-no {
    padding: 5px 15px;
    border: 1px solid #a5a5a5;
    border-radius: 5px;
    color: #a5a5a5;
}

.btn-yes {
    padding: 5px 15px;
    border: 1px solid #26267f;
    border-radius: 5px;
    background-color: #26267f;
    color: #fff;
}

.error_text {
    color: red;
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    padding-left: 8px;
}

.h-100vh {
    height: 100vh;
}

.autocomplete-dropdown-container{
    padding: 0;
    background: #fff;
    box-shadow: 0 3px 5px -2px #000;
    position: absolute;
    width: 100%;
    height: auto;
    font-size: 13px;
    z-index: 9;

    div{
        font-size:13px;
        line-height: 19px;
        padding: 8px 8px;
        border-bottom:1px solid #ccc;
    }
    .place{
        padding-left: 5px;
    }
}

@media(max-width:767px){
    .mb-block{
        display: block !important;
    }
    .w50,.MuiFormControl-root{
        width: 100% !important;
    }
    .MuiTab-root{
        width: 50%;
    }
    .MuiStepConnector-alternativeLabel {
       
        .MuiStepConnector-line{
            display: none;
        }
    }
    .MuiStepper-root{
        padding: 24px 10px; 
    }
    .visible-mb{
        display: block !important;
    }
}
@media(max-width:1800px){
    .menu-link{
        padding-right: 2.3rem !important;
    }
}
@media(min-width:1800px){
    .xlpr-2{
        padding-right: 0.5rem;
    }
}



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.bank-list {
    height: 400px;
}


.rating {
    border: 1px rgb(202, 202, 202) solid;
    border-left: none;
    display: flex;
    font-size:0;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    background: linear-gradient(to right, #4d4cff, #2ad9f4,#def54b);

    input {
        display: none 
    }

    label {
        display: flex;
        width: 43px;
        height: 43px;
        font-size: 14px;
        justify-content: center;
        align-items: center;
        background: #fff;
        color: #000;
        cursor: pointer;
        border-left: 1px rgb(202, 202, 202) solid;
        transition: .3s;

        &:first-child{
            border-radius: 6px 0 0 6px;
        }
    }
}
.rating input[type='radio']:hover~label{
    background: none;
    color: #fff;
}
.form-control{
    input{
        padding-top: 2px !important;        
    }
}

.form-control,.address-input {
    fieldset{
        height: 50px;
        border: 2px solid #e5e7eb;
    }
    .MuiInputBase-colorPrimary,.MuiInputBase-formControl{
        &:hover {
            fieldset{
             border-color:#e5e7eb !important;
            }
        }

        &.Mui-focused{
            fieldset{
                border-color:#818cf8 !important;
            }
        }
    }
}


.filepond strong{
    color:#3b4af7;
}
.filepond--credits{
    visibility: hidden !important;
}
.filepond .filepond--hopper{
        margin: 0 !important;
}
.text-brand-blue path{
    stroke: #4d4dff;
}
.circle-badge{
    min-width:48px;
    min-height: 48px;
}
div.Address_formGroup__N5eQA{
    margin-right: 0 !important;
    margin-top: 0 !important;
}
.address-input,.fSelection{
    input{
        padding-top: 4px;
        padding-bottom: 0.75rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 1em;
        background: #fff;
        height: auto !important;
    }
    fieldset{
        border: 2px solid #e5e7eb;
        height: 48px;
        top: 0px !important;
    }
    label{
        font-weight: 500;
        color: #6b7280;
        font-family: "Inter", sans-serif !important;
        transform: translate(14px, 24px) scale(1);
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink{
        transform: translate(14px, 4px) scale(0.75) !important;
    }
}
.checkbox{
    margin-left: 0 !important;
    margin-top: 5px !important;
    .MuiCheckbox-colorPrimary{
        margin-right: 5px !important;
    }
}
.f-selectbox {
    fieldset{
        border-width: 2px;
        border-color: #e5e7eb !important;
    }

    .MuiOutlinedInput-input {
        background: #fff;
        padding: 14.5px 14px !important;
    }
}
.MuiListItem-root.Mui-selected, .MuiListItem-root.Mui-selected:hover {
    background-color: rgb(77 77 255) !important;
}
.ElementsApp, .ElementsApp .InputElement{
    font-family: "Inter", sans-serif !important;
}
.bank-accounts-type{
   height: 500px; 
}

.bg-blue-pill{
    background: #262653;
    width: 26rem;
}
.bg-mask{
    background: #0000005c;
}
.grad-box{
    background-image: linear-gradient(260deg,#4d4dff,#2ef8ff);
}

@media (max-width:991px){
    .sidebar {
        width: 4.5rem !important;
    }
    .user-card,.menu-head{
        display: none !important;
    }
    .sidebar .menu-link span,.sm-logo,.side-icon{
        display: none !important;
    }
    .logo-icon{
        display: block !important;
    }
    // .sidebar .side-icon{
    //     right: 19px !important;
    //     opacity: 1 !important;
    //     padding-left: 0 !important;
    //     overflow: visible !important;
    //     svg{
    //         transform: translateX(1px) !important;
    //     }
    // }
}

// .step{
//     .border{
//       display: none;  
//     }
//     .border-b-0 {
//         display: block !important;
//     }
// }

.primary-account-transaction {
    background: #fafafa;
}

.cursor-pointer {
    cursor: pointer;
}

.w-\[80\%\] {
    width: 80%;
}
.w-\[63\%\] {
    width: 63%;
}
.w-\[17\%\] {
    width: 17%;
}
.w-\[3\%\] {
    width: 3%;
}
.py-small{
    padding-top:0.9rem;
    padding-bottom:0.9rem;
}
.w-85{
    width: 85.66%;
}
.react-datepicker{
    font-family: "Inter", sans-serif !important;
}
.date-picker .react-datepicker-wrapper{
    width: 92%;
}
.react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: #ffe1de !important;
    color: #ff2212 !important;
    height: 18px !important;
    width: 18px !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name{
    width: 2.2rem !important;
    height: 2.2rem !important;
    line-height:2.2rem !important;
    font-size: 13px !important;
}
.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range{
    border-radius: 20px !important;
    background-color: #4d4dff !important;
    color: #fff !important;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    border-radius: 20px !important;
    background-color: #4d4dff !important;
    color: #fff !important;
    margin: 0.296rem !important;
}
.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__month-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__quarter-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range), .react-datepicker__year-text--in-selecting-range:not(.react-datepicker__day--in-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--in-range){
    background-color: #4d4dff !important;
}