html,
body, html {
  color: #666;
  font-size: 14px;
  padding: 0;
  margin:0;   
  font-family: 'Inter', sans-serif !important;
  font-weight:400;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
