.bgPoster{
// 	background:url(../public/images/main-bg.jpeg);
//    background-size: 100% 100% !important;
//    background-position: 100% 0% !important;
	background:#1a1945;
	padding: 4rem;

   .intro{
	width: 50%;
	display: grid;
   }
//    .introBanner{

//    }
}
.main {
	width: 100vw;
	height: 120vh;
	display: flex;

	.welcome{
		width: 100%;
		height: 100%;
		.fullWrap{
			display: flex;
			height: 100%;
			
			.shapeLogo{
				margin-top: -3px;
			}
			.leftAside{
				width: 70%;
			}
			.leftAside,.bgPoster{
			   height: 100%;
			   display: flex;
			}
			
			
		//    .intro {
		// 	   padding:30px 70px 70px;
		//    }
		   .mainTit {
			   font-size: 2.3vw;
			   line-height: 1.20;
			   font-weight: 600;
			   letter-spacing: 1.4px;
			   color: #ffffff;
			   margin-top: 0;
		   }
		   .blueTxt{
				color: #21e4f8;
			}
		   .rightAside{
			   width: 30%;
			   box-shadow: 0 35px 50px 0 rgba(25, 25, 68, 0.3);
		   }
		   .createAccount {
			   display: flex;
			   justify-content: center;
			   align-items: center;
				// height: 80%;
			padding:9vh 0 ;
			  
   
			   .topCl{
				   width: 340px;
				   margin: 0 auto;
   
				   .signupOpt{
						 margin-top:35px;

						
					   .or{
						   text-align: center;
						   color: #434343;  
						   font-weight: 600;
						   margin: 30px 0 20px !important;
						   position: relative;

						   &:before,&:after{
							   content: "";
							   position: absolute;
							   height: 1px;
							   width:100px;
							   background: #f0f1f6;
							   top:12px;	
						   }
						   &:before{
							left: 0;
						   }
						   &:after{
							right: 0;
						   }
					   }
					   
				   }
			   }
		   }
		   
		   .smTit {
			   font-size: 28px;
			   font-weight: 500;
			   line-height: normal;
			   text-align: center;
			   color: #191944;
			   margin-top: 0;
		   }
		}
		.quickCard {
		   width: 520px;
		   position: relative;
		   top: -5rem;
		   padding:  40px 0;
		  		   margin-top: 50px;
		   h2{
			   font-size: 16px;
			   color: #fff;
			   font-weight: 500;
			   margin-bottom: 0;
			   margin-top: 0;
		   }
		   h3{
			   font-size: 22px;
			   line-height: normal;
			   margin-top: 0;	
			   font-weight: 600;
		   }
		   .planHead{
			   font-size: 16px;
			//    font-family: 'HelveticaNeueLTStd-Medium';
			   color: #fff;
			   margin-top: 10px;
			   font-weight: 500;
			   margin-bottom: 0.5rem;
		   }
		   .planPoint{
			padding: 0 20px !important;
			width: 86%;
			
			   li{
				   font-size: 13px;
				   line-height: 1.54;
				   letter-spacing: normal;
				   color: #fff;
				   position: relative;
				   margin-left: 3px;
				   list-style-type: disc;
			   }
		   }
		}
	}
	.alreadyAcnt{
	   color: #191944;
	   text-align:center;
	//    font-family: 'HelveticaNeueLTStd-Regular';
	   margin-top: 0px;
	   a{
		//    font-family: 'HelveticaNeueLTStd-Bold';
		 color: #191944;      
		 font-weight: 600;
		 text-decoration: underline;
	   }
   }
	.note{
	   font-size: 12px;
	   width: 285px;
	   margin: 0 auto;
	//    font-family: 'HelveticaNeueLTStd-Regular';
	   text-align: center;
	   color: #8c8ca2;
	   line-height: 16px;
	   margin-top: 15px;
	   a{
		   color: #8c8ca2;
		   text-decoration: underline;
   
		   &:hover{
			   color: #191944;      
		   }
	   }
   }
}
.error_text {
    color: red;
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    padding-left: 8px;
}
.mobileView{
  width:100%;
  height: 100vh;

  .bgPoster{
	height: 100%;
	background-size: cover !important;

	.mainTit {
		font-size: 2.2em;
		line-height: 1.07;
		font-weight: 600;
		letter-spacing: 1.4px;
		color: #ffffff;
		margin-top: 0;
		.blueTxt{
			color: #ccf664;
		}
	}
	.storeBtn{
		a{
			display: block;
			margin:5px 0 2px;
		}
	}
  }

  .intro{
	  padding:80px 20px;
	  text-align: center;

	  .smTit{
		  font-weight: 400;
		  text-transform: uppercase;
		  color: #fff;
		  margin: 30px 0 8px 0;
		  letter-spacing: 1.5px;
	  }
  }
  .footer{
    color: #00075d;
    position: absolute;
    bottom: 0;
	text-align: center;
    width: 100%;
    bottom: 10px;

	a{
		text-decoration: none;
    	color: #0006c1;
	}
	p{
		margin-top: 6px;
	}
  }
}
.altOption{
	display: flex;

	.roundBtn{
		width: auto;
		min-width: auto;
		padding:12px !important;
	}
}

.roundBtn{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding:15px 25px;
    margin:10px auto;
    letter-spacing: .2px;
	width: 100%;
    min-width: 186px;
    line-height:15px;
    position: relative;
	text-decoration:none;
    // font-family: 'HelveticaNeueLTStd-Regular';
 
   
	span{
		padding-left: 8px;
	}

	&:hover{
		transition: all .2s linear;
		box-shadow: 0 0px 7px 0 rgba(25, 25, 68,.2);
	}
	.soon{
		position: absolute;
		bottom: -.5px;
		background: #d9d9d9;
		padding: 0px 8px;
		font-size: 9px;
		letter-spacing: .6px;
		right: 3px;
		border-radius: 20px 0;
		color: #595959;
	}
}
.blue-bg{
	width: 100%;
}
.h100{
	height: 100%;
}

.dBlock{
    display: block;
}

// Responsive styles goes here
@media(max-width:991px) {
	.mobileView{
		background-image: url(/images/Signup-banner.png);
		background-position: 100% 0;
		background-repeat: no-repeat;
	}
	.intro{
		width: 100% !important;
		padding:10rem 0 !important;

	}
	.footer {
		left:0 !important;

		a,p{
		color:#fff !important;
		}
	}
	.bgPoster{
		padding: 2em  !important;
	}
	.fullWrap{
		display: block !important;
	}
	.main{
		height: 100% !important; 

		.leftAside{
			display: none !important; 
		}
		.rightAside{
			width: 100% !important;
			box-shadow: none !important;
		}
		
		.alreadyAcnt{
			padding: 20px 0 19px;
		}
	}
	.createAccount{
		margin: 0 20px;
		border: 1px solid #ccc;
		padding: 15px;
		border-radius: 10px;
		background: #f9f9f9;
	}
}

@media(min-width:1800px) {
	.quickCard {
		width:620px !important;
			.planPoint{
				width:100%;
			}

		h3{
		font-size:34px !important;
		}
		li{
			font-size: 16px !important;
		}
	}
}

@media(min-width:2000px) {
    .welcome div.fullWrap {
		.bgPoster{
			padding: 8rem !important;
		}
        .leftAside {
            width: 70% !important;
        }
		.introBanner{
			width: 50%;
		}
        .quickCard {
            margin-top: 30px !important;
			
			h3{
				font-size:48px !important;
			}
			h6{
				font-size:28px !important;
			}
			li{
				font-size:18px !important;
			}
        }
        .shapeLogo {
            img{
                width: 700px !important;
            }
        }
        .bgPoster{
            height: 100% !important;
        }
    }
}