// Existing variables and their defaults
$nice-dates-color-gray-dark: #E0E7FF;
$nice-dates-color-gray: #6366F1;
$nice-dates-color-gray-light: #A5B4FC;
$nice-dates-color-accent: $nice-dates-color-gray-dark;
$nice-dates-font-size-small: 12px;
$nice-dates-font-size-base: 14px;
$nice-dates-font-size-big: 16px;

.earnerChart{
//    height:400px;
//    padding:40px; 
padding:10px;
}
   