.dFlex {
    display: flex;
}

.guide {
    font-size: 14px;
    // font-family: 'HelveticaNeueLTStd-Regular';
    letter-spacing: normal;
    line-height: 20px;
    ;
    text-align: center;
    color: #32363e;
    margin-top: 0;
}

.topHead {
    font-size: 22px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #191944;
    margin-bottom: 10px !important;
}

.formGroup {
    margin: 15px 15px 0 0 !important;
}

.fControl {
    height: 44px;
    width: 100%;
    // font-family: 'HelveticaNeueLTStd-Regular';
    margin: 0 0 0;
    padding: 12px 16px;
    border-radius: 5px;
    // background-color: #f0f1f6;
    vertical-align: middle;
    color: #333333;
    border: 1px solid #f0f1f6;
}

.formWizardStep {
    .formWizardStepIcon {
        display: flex;
        width: 100%;
        height: 45px;
        margin-top: 4px;
        font-size: 16px;
        line-height: 40px;
        align-items: center;
        justify-content: center;
    }

    p {
        font-size: 12px;
        margin-top: 8px;
        line-height: normal;
        letter-spacing: .5px;
        text-align: center;
    }
}

// CSS FOR CREATE ACCOUNT
.createAccount {
    width: 500px;
    margin: 0 auto;

    .note {
        font-size: 12px;
        width: 285px;
        margin: 0 auto;
        font-family: "HelveticaNeueLTStd-Regular";
        text-align: center;
        color: #8c8ca2;
        line-height: 16px;
        margin-top: 15px;
    }

    .alreadyAcnt {
        color: #191944;
        text-align: center;
        font-family: "HelveticaNeueLTStd-Regular";

        a {
            font-family: "HelveticaNeueLTStd-Bold";
            color: #191944;
        }
    }
}

// CSS FOR VERIFY ACCOUNT
.verifyAccount {
    text-align: center;
    width: 525px;
    margin: 0 auto;

    input {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        color: #4d4dff;
        border-color: #000 !important;
    }

    .formWizardButtons {
        width: 400px;
        margin: 0 auto;
        padding-top: 20px;
    }

    .addCode {
        margin: 30px 46px 55px 46px;
    }

    .roundBtn {
        margin: 10px 10px;
    }
}

// CSS FOR Accounr details
.accountDetails {
    width: 665px;
    margin: 0 auto;

    .userPhoto {
        min-width: 124px;
        height: 124px;
        margin-right: 40px;

        .upImg {
            position: relative;
            width: 100%;
            height: 100%;
            /* padding: 50px 46px 50px 47px; */
            border-radius: 5px;
            background-color: #f0f1f6;
            display: flex;
            align-items: center;
            justify-content: center;

            .avtar {
                width: 100%;
                height: 100%;
            }

            .file {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                .MuiFormControl-root {
                    width: 100%;
                    position: absolute;
                    opacity: 0;
                    left: 0;
                    top: 0;
                    height: 100%;

                    .MuiInput-formControl {
                        height: 100%;
                    }
                }

                input {
                    opacity: 0;
                    position: absolute;
                    height: 100%;
                }
            }
        }

        label {
            font-size: 12px;
            font-family: "HelveticaNeueLTStd-Regular";
            font-stretch: normal;
            line-height: normal;
            color: #8c8ca2;
            margin-bottom: .5rem;
            display: block;
            text-align: left;
        }
    }

    .userDetail {
        width: 515px;
    }
}

//CSS FOR SUBSCRIPTION
.subscription {
    .planInfo {
        width: 670px;
        margin: 0 auto;
        padding: 30px 38px 29px 40px;
        border-radius: 5px;
        border: solid 1px #e3e3e3;
        background-color: #ffffff;
        display: flex;

        .leftAside {
            width: 201px;
            margin-right: 70px;
        }

        .priceBx {
            h4 {
                font-size: 20px;
                font-family: 'HelveticaNeueLTStd-Bold';
                line-height: normal;
                letter-spacing: normal;
                color: #191944;
            }

            .time {
                font-size: 14px;
                color: #8c8ca2;
                // font-family: 'HelveticaNeueLTStd-Regular';
            }

            .planPrice {
                font-size: 45px;
                color: #4d4eff;
                margin-right: 20px;
                font-family: 'HelveticaNeueLTStd-Bold';

                span {
                    font-size: 20px;
                    position: relative;
                    top: -14px;
                }

                hr {
                    border-color: #e8eef8 !important;
                }
            }

            .term {
                font-size: 12px;
                font-family: HelveticaNeueLTStd-Lt;
                display: block;
                text-align: right;
                position: relative;
                right: 43px;
                top: -8px;
            }
        }
    }

    .keyPoint {
        text-align: left;

        li {
            font-size: 13px;
            font-family: "HelveticaNeueLTStd-Lt";
            line-height: 1.54;
            letter-spacing: normal;
            color: #32363e;
            position: relative;

            &:before {
                content: "";
                width: 4px;
                height: 4px;
                background-color: #191944;
                position: absolute;
                top: 8px;
                border-radius: 100%;
                left: -11px;
            }
        }
    }

    .btmBar {
        height: 116px;
        border-radius: 10px;
        background-color: #f7f8fd;
        margin-top: 80px;

        .total {
            h5 {
                font-size: 22px;
                font-family: 'HelveticaNeueLTStd-Bold';
                line-height: normal;
                letter-spacing: normal;
                color: #32363e;
                display: flex;
                align-items: center;

                span {
                    font-size: 14px;
                    color: #8f949c;
                    font-family: 'HelveticaNeueLTStd-Medium';
                    margin-right: 16px;
                    letter-spacing: .5px;
                }
            }
        }

        .dFlex {
            width: 600px;
            height: 100%;
            align-items: center;
            margin: 0 0 0 auto;
            justify-content: space-between;

            .roundBtn {
                margin-right: 50px;
            }
        }
    }
}

.MuiAppBar-colorPrimary {
    background-color: transparent !important;
}

// CSS FOR PAYMENT
.payment {
    padding: 20px 44px 0;

    .smTit {
        font-size: 14px;
        line-height: normal;
        color: #191944;
        margin-bottom: 0;
    }
    .formGroup {
        margin-right: 0 !important;
    }

    .card {
        width: 580px;
        margin: 0 auto;
        padding: 30px;
        border-radius: 5px;
        border: solid 1px #e3e3e3;
        margin: 15px 11px 0;

        &.left-card {
            width: 540px;
        }

        &.right-card {
            width: 335px;
        }

        

        .paymentDetail {

            .lAside {
                margin-right: 30px;
                min-width: 150px;
            }

            .rAside {
                width: 100%;

                .formGroup {
                    width: 100%;

                    label {
                        font-size: 12px;
                        font-stretch: normal;
                        line-height: normal;
                        color: #8c8ca2;
                    }
                }

                p {
                    margin: 0 !important;
                    line-height: 20px;
                }

                .cost,
                .session {
                    font-size: 14px;
                    color: #32363e;
                    // font-family: 'HelveticaNeueLTStd-Regular';
                    line-height: 20px;
                }

                .cost {
                    margin-bottom: 10px;
                }

                .session {
                    span {
                        padding-right: 15px;
                    }
                }

                .subtotal {
                  
                    border-top: 1px solid #e8eef8;
                    margin-top: 12px;
                    padding-top: 10px;

                    .tAmount {
                       
                        color: #4d4dff;
                        font-size: 16px;
                    }
                }
            }
        }

        .paymentInfo {
            .cardBlock {
                margin-top: 4px;
            }

            .formGroup {
                margin-bottom: .3rem !important;
            }
        }
        .applyCoupon{
            padding: 8px 12px;
        margin-left: 4px;
        border: 0;
        font-weight: 600;
        background-color: #fff;
        color: #4d4dff;
        cursor: pointer;
        background: #eaeaff;
        border-radius: 5px;
        }
    }

    .fControl {
        width: 100%;
    }

    .expiry {
        width: 175px;
        .fControl {
            width: 70px !important;
            margin-right: 10px !important;
        }
    }

    .ccv {
        width: 95px;
    }

    .expiry,
    .ccv {
        h6 {
            font-size: 12px;
            font-stretch: normal;
            line-height: normal;
            color: #8c8ca2;
            font-weight: normal;
            margin-bottom: 10px;
        }
    }
    .cardStrip{
        border: 2px solid #e3e3e3;
        padding: 10px;
        border-radius: 3px;
    }
}

// CSS FOR THANKS
.thanks {
    padding: 120px 0;
}

.store-btn {
    margin: 0px 5px;
}

.roundBtn {
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding: 15px 25px;
    margin: 10px auto;
    letter-spacing: .2px;
    // width: 100%;
    min-width: 186px;
    line-height: 15px;
    position: relative;
    // font-family: 'HelveticaNeueLTStd-Regular';
    cursor: pointer;

    span {
        padding-left: 8px;
    }
}

.disabled-btn {
    cursor: not-allowed;
    background: rgba(#000, 0.8);
}

.registerAccount {
    width: 100%;
    height: 100%;
    background: url(../public/images/main-bg.jpeg) no-repeat;
    background-size: cover !important;
    background-position: 100% 100% !important;
    padding: 35px 20px 80px;

    .outerBx {
        width: 1030px;
        min-height: 750px;
        margin: 35px auto 0;
        border-radius: 10px;
        box-shadow: 0 35px 50px 0 rgba(25, 25, 68, 0.3);
        background-color: #ffffff;
    }

    .formBox {

        .step1,
        .step2,
        .step3,
        .step5 {
            padding-bottom: 40px;
        }
    }

    .formWizard {
        font-size: 16px;
        font-weight: 300;
        color: #888;
        line-height: 30px;
    }

    .formWizard h1,
    .formWizard h2 {
        margin-top: 10px;
        font-size: 38px;
        font-weight: 100;
        color: #555;
        line-height: 50px;
    }

    .formWizard .topHead {
        font-size: 22px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #191944;
        margin-bottom: 10px !important;
        // font-family: "HelveticaNeueLTStd-Medium" !important;
    }

    .formWizard table tr th {
        font-weight: normal;
    }

    .formWizard img {
        max-width: 100%;
        margin: 0 auto;
    }


    // .form1  .progress-bar_item.active {
    //     visibility: visible !important;
    //   }
    .formWizard {
        .formGroup {
            &.w50 {
                width: 50%;
                margin: 15px 15px 0 0 !important;
            }

            &.w100 {
                width: 100%;
                margin-right: 15px;
            }
        }

        .formControl {
            height: 44px;
            width: 100%;
            // font-family: 'HelveticaNeueLTStd-Regular';
            margin: 0 0 0;
            padding: 12px 16px;
            border-radius: 5px;
            background-color: #f0f1f6;
            vertical-align: middle;
            color: #333333;
            border: 1px solid #f0f1f6;
        }

        .pwdRequire {
            text-align: left;
            margin-top: 10px;

            h6 {
                font-size: 10px;
                letter-spacing: .2px;
                margin-bottom: 3px;
                font-weight: 500;
                font-family: "HelveticaNeueLTStd-Medium" !important;
            }

            ul {
                li {
                    font-size: 10px;
                    font-weight: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: rgba(25, 25, 68, 0.4);
                    // font-family: 'HelveticaNeueLTStd-Regular';
                }
            }
        }
    }

    .formWizard fieldset {

        .createAccount {
            width: 500px;
            margin: 0 auto;
        }

        .verifyAccount {}

        .accountDetails {
            width: 640px;
            margin: 0 auto;
        }

        .num-control {
            border: none;
            border-bottom: 2px solid #191944;
            width: 42px;
            margin: 0 7px;
            text-align: center;
            font-size: 45px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #4d4dff;
        }
    }
}

.btnPrevious {
    position: absolute;
    top: 20px;
    left: 50px;
    color: #8c8ca2;
    border: solid 2px #e6e6e6;
    border-radius: 20px;
    font-size: 12px;
    padding: 0 18px;
    background: #f2f2f2;
    cursor: pointer;
}

.error_text {
    color: red;
    margin: 0;
    font-size: 0.75rem;
    margin-top: 3px;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
    padding-left: 8px;
}

@media(max-width:768px){
    .registerAccount{
        padding: 35px 0px 0px; 
        .outerBx{
            border-radius: 0;
            padding: 0 10px 10px;
        }
    }
}

@media(max-width:1199px){
    .outerBx{
        width: 100% !important;
    }
    .MuiStep-horizontal{
        width: 20%; 
    }
    .formWizard{
        .topHead{
            font-size: 18px !important;
        }
    
        .formWizardStep{
            width: 80%;

            p{
                font-size: 9px !important;

                span{
                    display: none;
                }
            }
        }
        .formWizardStepIcon{
            img{
                width: 20px;
            }
        } 
        .formGroup{
            margin: 15px 0 0 0 !important;
        }
    }
    .MuiStepConnector-alternativeLabel{
        display: none;
    }
    .createAccount,.verifyAccount,.accountDetails,.subscription,.payment,.userDetail{
        width: 100% !important;
        padding: 0 10px;

    }
    .formWizardButtons{
        width: 100% !important;
    }
    .verifyAccount{
        .roundBtn{
           margin: 10px auto !important; 
        }
        .addCode{
            margin: 25px 15px 20px !important;
        }
    }
    .userPhoto{
        margin: 43px auto !important;
        width: 124px;
        height: 124px;
    }
    .subscription {
        .planInfo{
            display: block;
            width: 100%;
        }

        .leftAside{
            margin: 0 auto 25px !important;
            width: 250px !important;
        }
        .btmBar{
         padding-top: 14px;
         margin-top: 40px;

         .dFlex{
             display: block;
             width: 100%;
             text-align: center;

             h5{
                display: block;
             }
         }
         .roundBtn{
            margin: 12px auto !important;
         }
         .total{
             display: block;
         }
        }
    }
    .payment{
        .smTit{
            margin-bottom: 8px;  
        }
        .p-row {
            margin-bottom: 20px;
        }
        .card{
            width: 100%;
            padding: 15px;
        }
    }
    .thanks{
        padding: 120px 20px;  
    }
   
}